<h1>Tambah Kontak</h1>
<form>
    <div class="mb-3">
      <label for="Nama" class="form-label">Nama:</label>
      <input type="text" class="form-control" id="Nama" =>
    </div>
    <div class="mb-3">
      <label for="nohp" class="form-label">No.hp: </label>
      <input type="text" class="form-control" id="nohp">
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email: </label>
      <input type="email" class="form-label" id="email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>